<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hack Jobs: Hackernews for programming jobs</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static',filename="css/bootstrap.min.css") }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static',filename="css/simple-sidebar.css") }} rel="stylesheet">
	<style>
		#top { background-color:red; }

	</style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
               <li>
                    <a href="/about"><b>About</b></a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>

                <li>
        <p style="color:rgba(255,255,255,.4);text-align:ceter;" >   hackjobs&copy; 2017</p>

                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">

		    <div class="col-lg-10" id="top">

                <h5><b><a style="color:black; text-decoration:none;" href="/"> Hack Jobs</a></b></h5>
			    
		    </div>
                    <div class="col-lg-9" id="main">
                    <br>
				    <h4>Hackjobs is Hackernews for Jobs</h4>
			        
                    <p>Hackjobs is a free open site to find jobs inspired by the simplicity of Hackernews.</p>                    <br>

                    <h4>What problem are we trying to solve?</h4>

                    <p>Companies and startups post their job and internship openings in their sites.This is scattered throughout web.Sometimes people miss important openings. Hackjobs aims to become a community driven job listing site for programmers. </p>                    <br>

                     <h4>How hackjobs is different from other job listing sites?</h4>

                    <p>Just like hackernews anyone can post details about job openings in hackjobs.Hackjobs do not connect with any companies or  users in any manner. It is completely free to use for anyone.Only the title,link and short text details can be posted. The news expire based on time. </p>
                    <br>


                    <h4> Is hackjobs related to hackernews or ycombinator?</h4>
                    <p> No. Hackjobs is not related to hackernews or ycombinator in any manner. Hackjobs is inspired by the simplicity of hackernews. Hackjobs aims to become the online front page for jobs openings just like hackernews is for technews.</p>
		           <br>
                   <h4>Is the site only for programming jobs?</h4>
                   <p> Hackjobs only accepts jobs related to technology. It can be programming, hardware or anything that involves technical expertise.</p>
			
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
